.random-planet {
    height: 180px;
    background-color: rgba(133, 133, 133, 0.3);;
    padding: 15px;
    border-radius: 15px;
}

.random-planet-img {
    margin-right: 15px;
}

.random-planet-img > img {
    width: 150px;
    border-radius: 15px;
}

.random-planet-item {
    
}